/*
   Everforest Dark style - ported by Michell Stuttgart - github.com/mstuttgart
*/
.highlight
  background: #2D353B
  color: #dfddc8

  .code
    .tag, .keyword, .selector-tag, .literal, .strong, .name
      color: #e67e80

    .code
      color: #dfddc8

    .class .title
      color: #dbbc7f

    .attribute, .symbol, .regexp, .link
      color: #3a94c5

    .string, .bullet, .subst, .title, .section, .emphasis, .type, .built_in, .builtin-name, .selector-attr, .selector-pseudo, .addition, .variable, .template-tag, .template-variable
      color: #83c092

    .comment, .quote, .deletion, .meta
      color: #7a8478

    .keyword, .selector-tag, .literal, .doctag, .title, .section, .type, .selector-id
      font-weight: bold

    .number
      color: #d699b6

    .operator
      color: #e39b75
