$color-background = #232A2E
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #dfddc8
$color-scrollbar = #2d353b
$color-meta = #dfddc8
$color-meta-code = #dfddc8
$color-link = #d699b6
$color-text = #dfddc8
$color-accent-3 = #dfddc8
$color-accent-2 = #a7c080
$color-accent-1 = #a7c080
$color-quote = #dbbc7f
$highlight = hexo-config("highlight") || "rainbow"
